@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utilities*/

.debug{
  border: 1px solid firebrick;
  background-color: bisque;
}

/* GENERAL */

body,
.btn{
  font-family: 'Open Sans', sans-serif;
}

.container{
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  
  /* da togliere*/
  height: 100%;
  border: 1px solid orange;
}

.btn{
  background-color: white;
  padding: 8px 16px;
  font-size:14px;
  border: none;
  border-radius: 30px;
}


.text{
  width: 400px;
  height: 400px;
  background-color:silver ;
}


/* HEADER */
/*tutte le height da togliere */

header{
  height: 620px;
}

/* top-header */

header .top-header{
  height: 80px;
  background-color: #3161E0;
}

header .top-header>div{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

/* logo */
header .top-header .logo img{
  width: 40px;
}

/* nav */

header .top-header div nav ul{
  display: flex;
  gap: 35px;
  list-style: none;
}

header .top-header div nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: 500;
}

/* bottom-header */

header .bottom-header{
  height: calc(100% - 80px);
  background-color:cornflowerblue;
}

header .bottom-header > div{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

header .bottom-header div .content{
  width: 60%;
  text-align: center;
}

header .bottom-header div .content h1{
  font-size: 50px;
}

header .bottom-header div .content > *:not(.btn){
  margin-bottom: 50px;
}

/* MAIN */
/*tutte le height da togliere */
main{
}

/* sections */

main section{
  height: 800px;
}

main section > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main section div .mockups{
  /* da togliere */
  width: 600px;
  height: 400px;
  background-color:coral ;
}

main section div .text{
  padding: 10px;
}

main section div .text h2 {
  font-size: 40px;
}

main section.sec-2 div .mockups{
  order: 1;
} 

main section.sec-2,
.sec-4,
.sec-5{
  background-color: #F6F6F6;
}

main section.sec-4{
  height: 1000px;
}

main section.sec-5{
  height: 300px;
}

/* FOOTER */
/*tutte le height da togliere */

footer{
  height: 670px;
  background-color: #23272A;
}